LOCAL_AI_ENABLED=false
LOCAL_AI_PROVIDER=lmstudio
LOCAL_AI_BASE_URL=http://127.0.0.1:1234/v1
LOCAL_AI_MODEL_NAME=
LOCAL_AI_TIMEOUT_SECONDS=120
LOCAL_AI_MAX_IMAGES=1
LOCAL_AI_MAX_TOKENS=4096
LOCAL_AI_DISABLE_THINKING=true
