LM_STUDIO_BASE_URL=http://127.0.0.1:1234/v1
LM_STUDIO_MODEL=
AI_WORKER_HOST=0.0.0.0
AI_WORKER_PORT=8765
AI_WORKER_TIMEOUT_SECONDS=300
AI_WORKER_MAX_IMAGES=8
AI_WORKER_MAX_IMAGE_SIZE_MB=8
AI_WORKER_MAX_TOKENS=4096
AI_WORKER_DISABLE_THINKING=true
AI_WORKER_SHARED_TOKEN=
